---
- name: Add VSCodium repository
  copy:
    dest: /etc/yum.repos.d/vscodium.repo
    content: |
      [gitlab.com_paulcarroty_vscodium_repo]
      name=gitlab.com_paulcarroty_vscodium_repo
      baseurl=https://paulcarroty.gitlab.io/vscodium-deb-rpm-repo/rpms/
      enabled=1
      gpgcheck=1
      repo_gpgcheck=1
      gpgkey=https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg
      metadata_expire=1h
    owner: root
    group: root
    mode: "0644"

- name: Import VSCodium GPG key
  rpm_key:
    key: https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg
    state: present

- name: Install VSCodium
  package:
    name: codium
    state: present

- name: Add docker repository
  yum_repository:
        name: docker-ce
        description: Docker CE Stable
        file: docker-ce
        baseurl: https://download.docker.com/linux/fedora/$releasever/$basearch/stable
        enabled: yes
        gpgcheck: yes
        gpgkey: https://download.docker.com/linux/fedora/gpg

- name: Install Docker packages
  dnf:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present

- name: Start and enable Docker service
  systemd:
    name: docker
    state: started
    enabled: yes

- name: Ensure docker group exists
  group:
    name: docker
    state: present

- name: Add current user to docker group
  user:
    name: "{{ user_name }}"
    groups: docker
    append: yes

- name: Check if minikube is installed
  stat:
    path: /usr/local/bin/minikube
  register: minikube_installed

- name: Install minukube
  block:
  - name: Download Minikube binary
    get_url:
      url: https://github.com/kubernetes/minikube/releases/latest/download/minikube-linux-amd64
      dest: /tmp/minikube-linux-amd64
      mode: '0755'

  - name: Install Minikube to /usr/local/bin
    ansible.builtin.shell:
      cmd: install /tmp/minikube-linux-amd64 /usr/local/bin/minikube
    args:
      creates: /usr/local/bin/minikube

  - name: Clean up downloaded binary
    file:
      path: /tmp/minikube-linux-amd64
      state: absent
  when: not minikube_installed
