---
- name: Add VSCodium repository
  copy:
    dest: /etc/yum.repos.d/vscodium.repo
    content: |
      [gitlab.com_paulcarroty_vscodium_repo]
      name=gitlab.com_paulcarroty_vscodium_repo
      baseurl=https://paulcarroty.gitlab.io/vscodium-deb-rpm-repo/rpms/
      enabled=1
      gpgcheck=1
      repo_gpgcheck=1
      gpgkey=https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg
      metadata_expire=1h
    owner: root
    group: root
    mode: "0644"

- name: Import VSCodium GPG key
  rpm_key:
    key: https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg
    state: present

- name: Install VSCodium
  package:
    name: codium
    state: present
